body {
  text-align: center;
  background-color: rgb(102, 167, 238);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: rgb(246, 86, 86);
  text-align: center;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.titletext {
  border: 4px solid rgb(148, 94, 199);
  background-color: rgb(179, 255, 102);
  margin: 20px;
  width: auto;
  height: 200px;
}

.btn {
  margin: 23px;
  display: inline-block;
  height: 210px;
  width: 210px;
  border: 9px solid rgb(56, 55, 55);
  border-radius: 30%;s
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
